/* Apply Montserrat as the primary font */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
/* Apply Roboto as the secondary font */
p, span, div {
    font-family: 'Roboto', sans-serif;
}

/* Apply Lora as the font for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Grenze Gotisch';
}
