/* Ensuring the map fills the designated area within visualizations */

.visualizations .primary-viz-content .map-wrap {
    position: relative; /* Ensures position context for the absolute map */
    height: 100%; /* Fills the height of its parent */
    width: 100%; /* Fills the width of its parent */
}

.map {
    height: 100%;
    width: 100%;
    position: absolute; /* Ensures the map fills the container completely */
}

.flex-container {
    display: flex;
    align-items: center;   /*Vertically center the items in the container*/
    justify-content: flex-start;  /* Aligns items to the start of the container*/
}
.map-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* Ensure it appears above the map */
}

.hover-box {
    position: absolute;
    background-color: white;
    padding: 10px;
    color: black;
    border: 1px solid black;
    z-index: 1000;  /* High z-index to ensure it appears on top*/
}
