.navbar-custom {
  background-color: 090C02;
  width: 100vw;
}

.navbar-custom .navbar-nav .nav-link {
  color: white!important;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: gray!important;
}

